<!-- <ng-content select="h1"></ng-content>

<div *ngIf="nome != 'Pedro'">
    <p [ngClass]="{'active': valor, 'disabled': !valor}">
        ngClass
    </p>
    <p [ngStyle]="{'height': heightPx, 'background': backgroundColor}">
        ngStyle
    </p>
</div>

<hr>

<input [(ngModel)]="nome">
<button (click)="salvar()">Salvar</button>
<li *ngFor="let item of list">
    {{ item.nome }}
</li>

<ng-template ngFor let-item [ngForOf]="list">
    <p>
        {{ item.nome }}
    </p>
</ng-template>

<input [(ngModel)]="nome">
<button (click)="salvar()">Salvar</button>
<hr>

<ng-content select="hr"></ng-content> -->
<!-- <input [(ngModel)]="nome">
<button (click)="salvar()">Salvar</button>
<li *ngFor="let item of list"> {{ item.nome | uppercase }} -->

{{ date | date: 'dd/MM/yyyy' }}