<h2>Interpolation</h2>

<p>{{ nome }} tem {{ idade }} anos!</p>
<p>{{ nome }} tem mais de 30 anos?</p>
<p>{{ idade > 30 }}</p>
<p>Quanto é {{ idade }} + {{ maisUm }}?</p>
<p>{{ idade + maisUm }}</p>

<hr>

<h2>Property Biding</h2>
<button [disabled]="chackedDisabled">Action Button</button>
<p>
    <img [src]="imgSrc" width="200px" height="200px" [title]="imgTitle" [alt]="imgSrc">
</p>

<hr>
<!-- <h2>Property Biding</h2>

<button [disabled]="chackedDisabled">Button</button>
<br>

<img [src]="imgSrc" [title]="imgTitle" [alt]="imgTitle"> -->
<h2>Event Biding</h2>
<button (click)="alertaInfo($event)">Event</button>
<br>
<div (mousemove)="mouseMoveTest($event)" style="background: green; width: 200px; height: 200px;"></div>
{{ position.x }} - {{ position.y}}

<br>
<br>

<hr>

<h2>Two-way Biding</h2>
<br>
<br>
<input [(ngModel)]="nome"> {{ nome }}